<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="Bootstrap, Parallax, Template, Registration, Landing">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="author" content="Grayrids">
    <title>Analisis del suelo</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../../../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../../assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../../assets/css/line-icons.css">
    <link rel="stylesheet" href="../../../assets/css/owl.carousel.css">
    <link rel="stylesheet" href="../../../assets/css/owl.theme.css">
    <link rel="stylesheet" href="../../../assets/css/nivo-lightbox.css">
    <link rel="stylesheet" href="../../../assets/css/magnific-popup.css">
    <link rel="stylesheet" href="../../../assets/css/slicknav.css">
    <link rel="stylesheet" href="../../../assets/css/animate.css">
    <link rel="stylesheet" href="../../../assets/css/main.css">
    <link rel="stylesheet" href="../../../assets/css/responsive.css">

    <!-- css -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="../../../assets/login/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../../../assets/login/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"
        href="../../../assets/login/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--=============================================../../../assets/login/==================================================-->
    <link rel="stylesheet" type="text/css" href="../../../assets/login/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <!--=============================================../../../assets/login/==================================================-->
    <link rel="stylesheet" type="text/css" href="../../../assets/login/vendor/animate/animate.css">
    <!--=============================================../../../assets/login/==================================================-->
    <link rel="stylesheet" type="text/css" href="../../../assets/login/vendor/css-hamburgers/hamburgers.min.css">
    <!--=============================================../../../assets/login/==================================================-->
    <link rel="stylesheet" type="text/css" href="../../../assets/login/vendor/animsition/css/animsition.min.css">
    <!--=============================================../../../assets/login/==================================================-->
    <link rel="stylesheet" type="text/css" href="../../../assets/login/vendor/select2/select2.min.css">
    <!--=============================================../../../assets/login/==================================================-->
    <link rel="stylesheet" type="text/css" href="../../../assets/login/vendor/daterangepicker/daterangepicker.css">
    <!--=============================================../../../assets/login/==================================================-->
    <link rel="stylesheet" type="text/css" href="../../../assets/login/css/util.css">
    <link rel="stylesheet" type="text/css" href="../../../assets/login/css/main.css">
    <!--===============================================================================================-->
</head>

<body>
    <section id="portfolios" class="section">
        <br><br><br>
        <!-- email -->
        <div *ngIf="token == '0000'">
            <div class="card shadow-lg p-3 mb-5 bg-white rounded" style="width: auto; position: relative;">
                <div class="card-header">
                    <h5 class="card-title">Ingresa tu correo por favor!</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Para que pueda recuperar su cuenta, se enviará un correo.</h6>
                </div>
                <div class="card-body">
                    <form autocomplete="off" [formGroup]="email">
                        <div class="form-group">
                          <label for="exampleInputEmail1">Email address</label>
                          <input formControlName="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                        </div>
                        <button type="submit" class="btn btn-outline-success" (click)="SendEmail(email.value, send.value)">Enviar</button>
                        <button class="btn btn-outline-danger" (click)="back()">Cancelar</button>
                    </form>
                </div>
            </div>
        </div>
        <!-- reset -->
        <div *ngIf="token != '0000'">
            <div class="card shadow-lg p-3 mb-5 bg-white rounded" style="width: auto; position: relative;">
                <div class="card-header">
                    <h5 class="card-title">Ingrese su nueva contraseña</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Recuerde no compartir esta información con nadie más!</h6>
                </div>
                <div class="card-body">
                    <form autocomplete="off" [formGroup]="fpassword">
                        <div class="form-group">
                          <label for="exampleInputPassword1">Password</label>
                          <input formControlName="password" type="password" class="form-control" id="exampleInputPassword1">
                        </div>
                        <button type="submit" class="btn btn-outline-success" (click)="ResetPassword(fpassword.value)">Restaurar</button>
                    </form>
                </div>
            </div>
        </div>
    </section>

</body>