<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="Bootstrap, Parallax, Template, Registration, Landing">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="author" content="Grayrids">
    <title>Analisis del suelo</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../../../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../../assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../../assets/css/line-icons.css">
    <link rel="stylesheet" href="../../../assets/css/owl.carousel.css">
    <link rel="stylesheet" href="../../../assets/css/owl.theme.css">
    <link rel="stylesheet" href="../../../assets/css/nivo-lightbox.css">
    <link rel="stylesheet" href="../../../assets/css/magnific-popup.css">
    <link rel="stylesheet" href="../../../assets/css/slicknav.css">
    <link rel="stylesheet" href="../../../assets/css/animate.css">
    <link rel="stylesheet" href="../../../assets/css/main.css">
    <link rel="stylesheet" href="../../../assets/css/responsive.css">
    <!-- Vamo a ver que pedo -->
</head>

<body>
    <app-navbar></app-navbar>
    <!-- Portfolio Section -->
    <section id="portfolios" class="section">
        <!-- Container Starts -->
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <br>
                    <h4>Lista de Cromas por lote
                    <button type="button" class="btn btn-success" (click)="analisis()">Agregar muestras</button>
                    </h4>
                    <br>
                    <div class="row">
                        <div *ngFor="let muestra of muestras; index as i">
                            <div *ngFor="let croman of muestra.cromann; index as i">
                                <div class="col-sm-6">
                                    <div class="card" style="width: 18rem; ">
                                            <img src='{{URL}}{{croman.img}}' style="height: 250px;" class="card-img-top" alt="...">
                                            <div class="card-body">
                                                <p class="card-text">Fecha:{{croman.created_at}}</p>
                                                <!-- <button type="button" class="btn btn-success" data-dismiss="modal"></button> -->
                                                <button (click) = "Muestra(croman.id)" type="button" class="btn btn-success" data-toggle="modal"
                                                    data-target="#exampleModalCenter" style="border-radius: 30px;">
                                                    Resultado de Análisis
                                                </button>
                                            </div>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Container Ends -->
    </section>
    <!-- Modal -->
    <div class="modal fade " id="exampleModalCenter" tabindex="-1" role="dialog" data-backdrop="static"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 style="font-size: medium;"class="modal-title" id="exampleModalCenterTitle" style="font-size: 25px;">Resultado del Análisis</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click) = "close()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="card">
                    <div class="card-body">
                        <!-- <h3 style="font-size: 25px;">Localización</h3>
                        <div class="form-row">
                            <div class="col-4">
                                <input type="text" class="form-control" placeholder={{Pais}} disabled>
                            </div>
                            <div class="col">
                                <input type="text" class="form-control" placeholder={{Estado}} disabled>
                            </div>
                            <div class="col">
                                <input type="text" class="form-control" placeholder={{Municipio}} disabled>
                            </div>
                        </div> -->
                        <div class = "text-center">
                            <img src="{{URL}}{{IMG}}" style="width: 300px; height: 200px;">
                        </div>
                        <h3 style="font-size: 25px;">Presencia</h3>
                        <div class="col-md-14">
                            <div
                                class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                                <div class="col p-4 d-flex flex-column position-static">
                                    <div *ngIf="!isEdit">  
                                    <div class="row">
                                        <div class="col">
                                            <label>Oxígeno</label>
                                            
                                            <div *ngIf = "data_set.ind_oxg == true">
                                                <button type="button" class="btn btn-success" style="border-radius: 10px;" disabled ></button>
                                            </div>

                                            <div *ngIf = "data_set.ind_oxg == false">
                                                <button type="button" class="btn btn-dark" style="border-radius: 10px;" disabled ></button>
                                            </div>
                                            
                                        </div>
                                        <div class="col">
                                            <label>Humus</label>
                                            <div *ngIf = "data_set.ind_mat_org == true">
                                                <button type="button" class="btn btn-success" style="border-radius: 10px;" disabled ></button>
                                            </div>

                                            <div *ngIf = "data_set.ind_mat_org == false">
                                                <button type="button" class="btn btn-dark" style="border-radius: 10px;" disabled ></button>
                                            </div>
                                        </div>
                                        <div class="col">
                                        </div>
                                    </div><br>
                                    <!-- Parte 2 -->
                                    <div class="row">
                                        <div class="col">
                                            <label>Nitrógeno</label>
                                            <div *ngIf = "data_set.ind_n_elem == true">
                                                <button type="button" class="btn btn-success" style="border-radius: 10px;" disabled ></button>
                                            </div>

                                            <div *ngIf = "data_set.ind_n_elem == false">
                                                <button type="button" class="btn btn-dark" style="border-radius: 10px;" disabled ></button>
                                            </div>                                                                       
                                    
                                        </div>
                                        <div class="col">
                                            <label>Rompimiento</label>
                                            <div *ngIf = "data_set.ind_romp == true">
                                                <button type="button" class="btn btn-success" style="border-radius: 10px;" disabled ></button>
                                            </div>

                                            <div *ngIf = "data_set.ind_romp == false">
                                                <button type="button" class="btn btn-dark" style="border-radius: 10px;" disabled ></button>
                                            </div>
                                        
                                        </div>
                                        <div class="col">
                                            <label>Materia Viva</label>
                                            <div *ngIf = "data_set.ind_mat_viva == true">
                                                <button type="button" class="btn btn-success" style="border-radius: 10px;" disabled ></button>
                                            </div>

                                            <div *ngIf = "data_set.ind_mat_viva == false">
                                                <button type="button" class="btn btn-dark" style="border-radius: 10px;" disabled ></button>
                                            </div>
                                        </div>
                                        
                                    </div><br>
                                    <!-- Parte 3 -->
                                    <div class="row">
                                        <div class="col">
                                            <label>Proteínas</label><br>
                                            <div *ngIf = "data_set.ind_pro_n == true">
                                                <button type="button" class="btn btn-success" style="border-radius: 10px;" disabled ></button>
                                            </div>

                                            <div *ngIf = "data_set.ind_pro_n == false">
                                                <button type="button" class="btn btn-dark" style="border-radius: 10px;" disabled ></button>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <label>Transformación en las sustancias</label><br>
                                            <div *ngIf = "data_set.ind_trans_sist == true">
                                                <button type="button" class="btn btn-success" style="border-radius: 10px;" disabled ></button>
                                            </div>

                                            <div *ngIf = "data_set.ind_trans_sist == false">
                                                <button type="button" class="btn btn-dark" style="border-radius: 10px;" disabled ></button>
                                            </div>
                                        </div>
                                        <div class="col">
                                                <label>Actividad Biológica</label>
                                                <div *ngIf = "data_set.ind_bio == true">
                                                    <button type="button" class="btn btn-success" style="border-radius: 10px;" disabled ></button>
                                                </div>

                                                <div *ngIf = "data_set.ind_bio == false">
                                                    <button type="button" class="btn btn-dark" style="border-radius: 10px;" disabled ></button>
                                                </div>
                                            </div>
                                    </div>
                                    </div>
                                    <div *ngIf="isEdit">  
                                        <!-- Parte 1 *ngFor="let croma of cromainfo; index as i" -->
                                        <div class="row">
                                            <div class="col">
                                                <label>Oxígeno</label>
                                                
                                                <div *ngIf = "data_set.ind_oxg == true">
                                                    <button (click)="EditarIndOx(data_set.ind_oxg)" type="button" class="btn btn-success" style="border-radius: 10px;" >
                                                    </button>
                                                </div>

                                                <div *ngIf = "data_set.ind_oxg == false">
                                                    <button (click)="EditarIndOx(data_set.ind_oxg)" type="button" class="btn btn-dark" style="border-radius: 10px;" >
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <label>Humus</label>
                                                <div *ngIf = "data_set.ind_mat_org == true">
                                                    <button (click)="EditarIndMO(data_set.ind_mat_org)" type="button" class="btn btn-success" style="border-radius: 10px;"  >
                                                    </button>
                                                </div>

                                                <div *ngIf = "data_set.ind_mat_org == false">
                                                    <button (click)="EditarIndMO(data_set.ind_mat_org)" type="button" class="btn btn-dark" style="border-radius: 10px;"  >
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="col">
                                            </div>
                                        </div><br>
                                        <!-- Parte 2 -->
                                        <div class="row">
                                            <div class="col">
                                                <label>Nitrógeno</label>
                                                <div *ngIf = "data_set.ind_n_elem == true">
                                                    <button (click)="EditarIndN(data_set.ind_n_elem)" type="button" class="btn btn-success" style="border-radius: 10px;"  >
                                                    </button>
                                                </div>

                                                <div *ngIf = "data_set.ind_n_elem == false">
                                                    <button (click)="EditarIndN(data_set.ind_n_elem)" type="button" class="btn btn-dark" style="border-radius: 10px;"  >
                                                    </button>
                                                </div>                                                                       
                                        
                                            </div>
                                            <div class="col">
                                                <label>Rompimiento</label>
                                                <div *ngIf = "data_set.ind_romp == true">
                                                    <button (click)="EditarIndR(data_set.ind_romp)" type="button" class="btn btn-success" style="border-radius: 10px;"  >
                                                    </button >
                                                </div>

                                                <div *ngIf = "data_set.ind_romp == false">
                                                    <button (click)="EditarIndR(data_set.ind_romp)" type="button" class="btn btn-dark" style="border-radius: 10px;"  >
                                                    </button>
                                                </div>
                                            
                                            </div>
                                            <div class="col">
                                                <label>Materia Viva</label>
                                                <div *ngIf = "data_set.ind_mat_viva == true">
                                                    <button (click)="EditarIndMV(data_set.ind_mat_viva)" type="button" class="btn btn-success" style="border-radius: 10px;"  >
                                                    </button>
                                                </div>

                                                <div *ngIf = "data_set.ind_mat_viva == false">
                                                    <button (click)="EditarIndMV(data_set.ind_mat_viva)" type="button" class="btn btn-dark" style="border-radius: 10px;"  >
                                                    </button>
                                                </div>
                                            </div>
                                            
                                        </div><br>
                                        <!-- Parte 3 -->
                                        <div class="row">
                                            <div class="col">
                                                <label>Proteínas</label><br>
                                                <div *ngIf = "data_set.ind_pro_n == true">
                                                    <button (click)="EditarIndP(data_set.ind_pro_n)" type="button" class="btn btn-success" style="border-radius: 10px;"  >
                                                    </button>
                                                </div>

                                                <div *ngIf = "data_set.ind_pro_n == false">
                                                    <button (click)="EditarIndP(data_set.ind_pro_n)" type="button" class="btn btn-dark" style="border-radius: 10px;"  >
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <label>Transformación en las sustancias</label><br>
                                                <div *ngIf = "data_set.ind_trans_sist == true">
                                                    <button (click)="EditarIndTS(data_set.ind_trans_sist)" type="button" class="btn btn-success" style="border-radius: 10px;"  >
                                                    </button>
                                                </div>

                                                <div *ngIf = "data_set.ind_trans_sist == false">
                                                    <button (click)="EditarIndTS(data_set.ind_trans_sist)" type="button" class="btn btn-dark" style="border-radius: 10px;"  >
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="col">
                                                    <label>Actividad Biológica</label>
                                                    <div *ngIf = "data_set.ind_bio == true">
                                                        <button (click)="EditarIndAB(data_set.ind_bio)" type="button" class="btn btn-success" style="border-radius: 10px;"  >
                                                        </button>
                                                    </div>

                                                    <div *ngIf = "data_set.ind_bio == false">
                                                        <button (click)="EditarIndAB(data_set.ind_bio)" type="button" class="btn btn-dark" style="border-radius: 10px;"  >
                                                        </button>
                                                    </div>
                                                </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                    </div>
                  </div>
                <div class="modal-footer" *ngIf="rol == 1 || rol == 2">
                    <button type="button" class="btn btn-danger" data-dismiss="modal" (click) = "close()">Close</button>
                    <button type="button" class="btn btn-warning" (click) = "editar()" >{{EdGua}}</button>
                </div>
                <div class="modal-footer" *ngIf="rol > 2">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    
    <app-footer></app-footer>
    
    <script src="../../../assets/js/jquery-min.js"></script>
    <script src="../../../assets/js/popper.min.js"></script>
    <script src="../../../assets/js/bootstrap.min.js"></script>
    <script src="../../../assets/js/jquery.mixitup.js"></script>
    <script src="../../../assets/js/nivo-lightbox.js"></script>
    <script src="../../../assets/js/owl.carousel.js"></script>
    <script src="../../../assets/js/jquery.stellar.min.js"></script>
    <script src="../../../assets/js/jquery.nav.js"></script>
    <script src="../../../assets/js/scrolling-nav.js"></script>
    <script src="../../../assets/js/jquery.easing.min.js"></script>
    <script src="../../../assets/js/smoothscroll.js"></script>
    <script src="../../../assets/js/jquery.slicknav.js"></script>
    <script src="../../../assets/js/wow.js"></script>
    <script src="../../../assets/js/jquery.vide.js"></script>
    <script src="../../../assets/js/jquery.counterup.min.js"></script>
    <script src="../../../assets/js/jquery.magnific-popup.min.js"></script>
    <script src="../../../assets/js/waypoints.min.js"></script>
    <script src="../../../assets/js/form-validator.min.js"></script>
    <script src="../../../assets/js/contact-form-script.js"></script>
    <script src="../../../assets/js/main.js"></script>

</body>

</html>