<!DOCTYPE html>
<html lang="en">

<head>
    <title>Registro</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="../../../assets/login/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../../../assets/login/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"
        href="../../../assets/login/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--=============================================../../../assets/login/==================================================-->
    <link rel="stylesheet" type="text/css" href="../../../assets/login/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <!--=============================================../../../assets/login/==================================================-->
    <link rel="stylesheet" type="text/css" href="../../../assets/login/vendor/animate/animate.css">
    <!--=============================================../../../assets/login/==================================================-->
    <link rel="stylesheet" type="text/css" href="../../../assets/login/vendor/css-hamburgers/hamburgers.min.css">
    <!--=============================================../../../assets/login/==================================================-->
    <link rel="stylesheet" type="text/css" href="../../../assets/login/vendor/animsition/css/animsition.min.css">
    <!--=============================================../../../assets/login/==================================================-->
    <link rel="stylesheet" type="text/css" href="../../../assets/login/vendor/select2/select2.min.css">
    <!--=============================================../../../assets/login/==================================================-->
    <link rel="stylesheet" type="text/css" href="../../../assets/login/vendor/daterangepicker/daterangepicker.css">
    <!--=============================================../../../assets/login/==================================================-->
    <link rel="stylesheet" type="text/css" href="../../../assets/login/css/util.css">
    <link rel="stylesheet" type="text/css" href="../../../assets/login/css/main.css">
    <!--===============================================================================================-->
</head>

<div>

    <body style="background-color: #666666;">

        <div class="limiter"
            style="background-image: url('../../../assets/img/cromas/s1.jpeg'); background-repeat: no-repeat; background-size: cover;">
            <div class="container-login100" style="opacity: 0.93;">

                <div class="tab-content" id="pills-tabContent">
                    
                    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab"
                                aria-controls="pills-home" aria-selected="true">Usuario</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" 
                            aria-controls="pills-profile" aria-selected="false">Usuario líder</a>
                        </li>
                    </ul>
                    <!-- Usuario -->
                    <div class="tab-pane fade show active" id="pills-home" role="tabpanel"
                        aria-labelledby="pills-home-tab">
                        <form [formGroup]="registro" class="login100-form validate-form"
                            style="background-color: #9c9c9c;"  autocomplete="off">
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label for="inputName4">Nombre</label>
                                    <div *ngIf="registro.get('nombre').touched ">
                                        <input formControlName="nombre" type="text" class="form-control" id="inputName4"
                                            name="nombre" minlength="4" maxlength="15" autocomplete="off" required>
                                    </div>
                                    <div *ngIf="!registro.get('nombre').touched">
                                        <input formControlName="nombre" type="text" class="form-control" id="inputName4"
                                            name="nombre" minlength="4" maxlength="15">
                                    </div>
                                </div>

                                <div class="form-group col-md-4">
                                    <label for="inputName4">Apellido Paterno</label>
                                    <div *ngIf="registro.get('ape_p').touched ">
                                        <input formControlName="ape_p" type="text" class="form-control"
                                            id="inputName4" required>
                                    </div>
                                    <div *ngIf="!registro.get('ape_p').touched">
                                        <input formControlName="ape_p" type="text" class="form-control"
                                            id="inputName4">
                                    </div>
                                </div>

                                <div class="form-group col-md-4">
                                    <label for="inputName4">Apellido Materno</label>
                                    <div *ngIf="registro.get('ape_m').touched ">
                                        <input formControlName="ape_m" type="text" class="form-control"
                                            id="inputName4" required>
                                    </div>
                                    <div *ngIf="!registro.get('ape_m').touched">
                                        <input formControlName="ape_m" type="text" class="form-control"
                                            id="inputName4">
                                    </div>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="inputEmail4">Email</label>
                                    <div *ngIf="registro.get('email').touched ">
                                        <input formControlName="email" type="email" class="form-control"
                                            id="inputEmail4" required>
                                    </div>
                                    <div *ngIf="!registro.get('email').touched">
                                        <input formControlName="email" type="email" class="form-control"
                                            id="inputEmail4">
                                    </div>
                                </div>

                                <div class="form-group col-md-6">
                                    <label for="inputPassword4">Password</label>
                                    <div *ngIf="registro.get('password').touched ">
                                        <input formControlName="password" type="password" class="form-control"
                                            id="inputPassword4" minlength="10" maxlength="12" required>
                                    </div>
                                    <div *ngIf="!registro.get('password').touched">
                                        <input formControlName="password" type="password" class="form-control"
                                            id="inputPassword4" minlength="10" maxlength="12">
                                    </div>
                                </div>

                            </div>

                            <div class="form-group">
                                <label for="inputAddress">Domicilio</label>
                                <div *ngIf="registro.get('direccion').touched ">
                                    <input formControlName="direccion" type="text" class="form-control"
                                        id="inputAddress" required>
                                </div>
                                <div *ngIf="!registro.get('direccion').touched">
                                    <input formControlName="direccion" type="text" class="form-control"
                                        id="inputAddress">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="inputNumber2">Teléfono</label>
                                <div *ngIf="registro.get('telefono').touched ">
                                    <input formControlName="telefono" type="number" class="form-control"
                                        id="inputNumber2" minlength="10" maxlength="12" required>
                                </div>
                                <div *ngIf="!registro.get('telefono').touched">
                                    <input formControlName="telefono" type="number" class="form-control"
                                        id="inputNumber2" minlength="10" maxlength="12">
                                </div>
                            </div>


                            <div class="form-row">

                                <div class="btn-group" role="group">
                                    <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" 
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        {{Pais}}
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                        <option (click)="extraeidPais(pais.id, pais.nombre)" *ngFor="let pais of Paises"
                                            value="{{pais.id}}">{{pais.nombre}}</option>
                                    </div>
                                </div>
                                
                                <div class="btn-group" role="group">
                                    <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" 
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        {{Estado}}
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                        <option (click)="extraeidEstado(estado.id, estado.nombre)" *ngFor="let estado of Estados"
                                            value="{{estado.id}}">{{estado.nombre}}</option>
                                    </div>
                                </div>
                                
                                <div class="btn-group" role="group">
                                    <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" 
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        {{Municipio}}
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                        <option (click)="extraeidMuni(municipio.id, municipio.nombre)" *ngFor="let municipio of Municipios" value="{{municipio.id}}">
                                            {{municipio.nombre}}</option>
                                    </div>
                                </div>

                                <!-- <div class="form-group col-md-4">
                                    <label for="inputState">Pais</label>
                                    <select id="inputState" class="form-control">
                                        <option (click)="extraeidPais(pais.id)" *ngFor="let pais of Paises"
                                            value="{{pais.id}}">{{pais.nombre}}</option>
                                    </select>
                                </div> -->
                                <!-- <div class="form-group col-md-4">
                                    <label for="inputState">Estado</label>
                                    <select id="inputState" class="form-control">
                                        <option (click)="extraeidEstado(estado.id)" *ngFor="let estado of Estados"
                                            value="{{estado.id}}">{{estado.nombre}}</option>
                                    </select>
                                </div> -->
                                <!-- <div class="form-group col-md-4">
                                    <label for="inputState">Municipio</label>
                                    <select formControlName="municipio_id" id="inputState" class="form-control">
                                        <option *ngFor="let municipio of Municipios" value="{{municipio.id}}">
                                            {{municipio.nombre}}</option>
                                    </select>
                                </div> -->

                            </div>


                            <br>
                            <div class="container-login100-form-btn">
                                <button (click)="register(registro.value, sendEmail.value)" class="login100-form-btn">
                                    Registrarse
                                </button>
                            </div>
                            <br>
                            <div class="container-login100-form-btn">
                                <a href="login" class="login1000-form-btn">
                                    <button type="button" class="login1000-form-btn">
                                        Cancelar
                                    </button>
                                </a>
                            </div>
                        </form>
                    </div>
                    <!-- Lider  -->
                    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                        <form [formGroup]="registroL" [formGroup]="sendEmail" class="login100-form validate-form"
                            style="background-color: #9c9c9c;"  autocomplete="off">
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label for="inputName4">Nombre</label>
                                    <div *ngIf="registroL.get('nombre').touched ">
                                        <input formControlName="nombre" type="text" class="form-control" id="inputName4"
                                            name="nombre" minlength="4" maxlength="15" autocomplete="off" required>
                                    </div>
                                    <div *ngIf="!registroL.get('nombre').touched">
                                        <input formControlName="nombre" type="text" class="form-control" id="inputName4"
                                            name="nombre" minlength="4" maxlength="15">
                                    </div>
                                </div>

                                <div class="form-group col-md-4">
                                    <label for="inputName4">Apellido Paterno</label>
                                    <div *ngIf="registroL.get('ape_p').touched ">
                                        <input formControlName="ape_p" type="text" class="form-control"
                                            id="inputName4" required>
                                    </div>
                                    <div *ngIf="!registroL.get('ape_p').touched">
                                        <input formControlName="ape_p" type="text" class="form-control"
                                            id="inputName4">
                                    </div>
                                </div>

                                <div class="form-group col-md-4">
                                    <label for="inputName4">Apellido Materno</label>
                                    <div *ngIf="registroL.get('ape_m').touched ">
                                        <input formControlName="ape_m" type="text" class="form-control"
                                            id="inputName4" required>
                                    </div>
                                    <div *ngIf="!registroL.get('ape_m').touched">
                                        <input formControlName="ape_m" type="text" class="form-control"
                                            id="inputName4">
                                    </div>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="inputEmail4">Email</label>
                                    <div *ngIf="registroL.get('email').touched ">
                                        <input formControlName="email" type="email" class="form-control"
                                            id="inputEmail4" required>
                                    </div>
                                    <div *ngIf="!registroL.get('email').touched">
                                        <input formControlName="email" type="email" class="form-control"
                                            id="inputEmail4">
                                    </div>
                                </div>

                                <div class="form-group col-md-6">
                                    <label for="inputPassword4">Password</label>
                                    <div *ngIf="registroL.get('password').touched ">
                                        <input formControlName="password" type="password" class="form-control"
                                            id="inputPassword4" minlength="10" maxlength="12" required>
                                    </div>
                                    <div *ngIf="!registroL.get('password').touched">
                                        <input formControlName="password" type="password" class="form-control"
                                            id="inputPassword4" minlength="10" maxlength="12">
                                    </div>
                                </div>

                            </div>

                            <div class="form-group">
                                <label for="inputAddress">Domicilio</label>
                                <div *ngIf="registroL.get('direccion').touched ">
                                    <input formControlName="direccion" type="text" class="form-control"
                                        id="inputAddress" required>
                                </div>
                                <div *ngIf="!registroL.get('direccion').touched">
                                    <input formControlName="direccion" type="text" class="form-control"
                                        id="inputAddress">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="inputNumber2">Teléfono</label>
                                <div *ngIf="registroL.get('telefono').touched ">
                                    <input formControlName="telefono" type="number" class="form-control"
                                        id="inputNumber2" minlength="10" maxlength="12" required>
                                </div>
                                <div *ngIf="!registroL.get('telefono').touched">
                                    <input formControlName="telefono" type="number" class="form-control"
                                        id="inputNumber2" minlength="10" maxlength="12">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="btn-group" role="group">
                                    <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" 
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        {{Pais}}
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                        <option (click)="extraeidPais(pais.id, pais.nombre)" *ngFor="let pais of Paises"
                                            value="{{pais.id}}">{{pais.nombre}}</option>
                                    </div>
                                </div>
                                
                                <div class="btn-group" role="group">
                                    <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" 
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        {{Estado}}
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                        <option (click)="extraeidEstado(estado.id, estado.nombre)" *ngFor="let estado of Estados"
                                            value="{{estado.id}}">{{estado.nombre}}</option>
                                    </div>
                                </div>
                                
                                <div class="btn-group" role="group">
                                    <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" 
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        {{Municipio}}
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                        <option (click)="extraeidMuni(municipio.id, municipio.nombre)" *ngFor="let municipio of Municipios" value="{{municipio.id}}">
                                            {{municipio.nombre}}</option>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="container-login100-form-btn">
                                <button (click)="register(registroL.value, sendEmail.value)" class="login100-form-btn">
                                    Registrarse
                                </button>
                            </div>
                            <br>
                            <div class="container-login100-form-btn">
                                <a href="login" class="login1000-form-btn">
                                    <button type="button" class="login1000-form-btn">
                                        Cancelar
                                    </button>
                                </a>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
        <!--===============================================================================================-->
        <script src="../../../assets/login/vendor/jquery/jquery-3.2.1.min.js"></script>
        <!--=============../../../assets/login/==================================================================================-->
        <script src="../../../assets/login/vendor/animsition/js/animsition.min.js"></script>
        <!--=============../../../assets/login/==================================================================================-->
        <script src="../../../assets/login/vendor/bootstrap/js/popper.js"></script>
        <script src="../../../assets/login/vendor/bootstrap/js/bootstrap.min.js"></script>
        <!--=============../../../assets/login/==================================================================================-->
        <script src="../../../assets/login/vendor/select2/select2.min.js"></script>
        <!--=============../../../assets/login/==================================================================================-->
        <script src="../../../assets/login/vendor/daterangepicker/moment.min.js"></script>
        <script src="../../../assets/login/vendor/daterangepicker/daterangepicker.js"></script>
        <!--=============../../../assets/login/==================================================================================-->
        <script src="../../../assets/login/vendor/countdowntime/countdowntime.js"></script>
        <!--=============../../../assets/login/==================================================================================-->
        <script src="../../../assets/login/js/main.js"></script>

    </body>


</div>

</html>