<head>
    <head>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="../../../assets/css/main.css">
        <link rel="stylesheet" href="../../../assets/css/responsive.css">
    </head>

</head>

<body>
    
    <!-- Footer Section Start -->
    <footer>
        <div class="container">
            <div class="row">
                <!-- Footer Links -->
                <div class="col-lg-6 col-sm-6 col-xs-12">
                    <ul class="footer-links">
                        <li>
                            <a href="#">Homepage</a>
                        </li>
                        <li>
                            <a href="#">Services</a>
                        </li>
                        <li>
                            <a href="#">About Us</a>
                        </li>
                        <li>
                            <a href="#">Contact</a>
                        </li>
                        <div class="social-icons">
                            <ul>
                                <li class="facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li class="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                            </ul>
                        </div>
                    </ul>
                </div>
                <div class="col-lg-6 col-sm-6 col-xs-12">
                    <div class="copyright">
                        <br><br>
                        <p>All copyrights reserved &copy; 2019 - Designed & Developed by <a rel="nofollow"
                                href="https://uideck.com">MayaSoft</a></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Go To Top Link -->
    <a href="#" class="back-to-top">
        <i class="lnr lnr-arrow-up"></i>
    </a>

</body>
