<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="Bootstrap, Parallax, Template, Registration, Landing">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="author" content="Grayrids">
    <title></title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../../../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../../assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../../assets/css/line-icons.css">
    <link rel="stylesheet" href="../../../assets/css/owl.carousel.css">
    <link rel="stylesheet" href="../../../assets/css/owl.theme.css">
    <link rel="stylesheet" href="../../../assets/css/nivo-lightbox.css">
    <link rel="stylesheet" href="../../../assets/css/magnific-popup.css">
    <link rel="stylesheet" href="../../../assets/css/slicknav.css">
    <link rel="stylesheet" href="../../../assets/css/animate.css">
    <!-- <link rel="stylesheet" href="../../../assets/css/main.css"> -->
    <link rel="stylesheet" href="../../../assets/css/responsive.css">

</head>

<body>

    <!-- Cualquier usuario -->
    <div *ngIf="id == 0 || id == null">
        <header id="hero-area" data-stellar-background-ratio="0.5">
            <!-- Navbar Start -->
            <!-- fixed-top -->
            <nav class="navbar navbar-expand-lg navbar-light scrolling-navbar">
                <img class="img-fulid" style="width: 330px; height: 160px;" src="../../../assets/img/cromas/ESI.png"alt="">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav collapse navbar-collapse">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link page-scroll" href="#hero-area">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link page-scroll" href="#services">Servicios</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link page-scroll" href="#features">Características</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link page-scroll" href="#portfolios">Información</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link page-scroll" href="#pricing">Precios</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link page-scroll" href="#team">Equipo</a>
                            </li>
                            <li class="nav-item">
                                <button type="button" class="btn btn-success nav-link" routerLink="login">
                                    Login
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- Navbar End -->
            <div class="container">
                <div class="row justify-content-md-center">
                    <div class="col-md-10">
                        <div class="contents text-center">
                            <h2 class="wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="0.3s">ECOLOGÍA, SUSTENTABILIDAD E INNOVACIÓN A.C</h2>
                            <p class="lead  wow fadeIn" data-wow-duration="1000ms" data-wow-delay="400ms">
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    </div>

    <!-- Administrador -->
    <div *ngIf="id == 1">
        <header id="hero-area1" data-stellar-background-ratio="0.5">
            <!-- Navbar Start -->
            <!-- fixed-top -->
            <nav class="navbar navbar-expand-lg navbar-light scrolling-navbar">
                <img class="img-fulid" style="width: 330px; height: 160px;" src="../../../assets/img/cromas/ESI.png"alt="">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav collapse navbar-collapse">
                        <ul class="navbar-nav">

                            <li class="nav-item">
                                <a class="nav-link page-scroll" href="admin">Usuarios</a>
                                
                            </li>

                            <li class="nav-item">
                                <a class="nav-link page-scroll" href="analisis">Análisis</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link page-scroll" href="lista-lotes">lista de Lotes</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link page-scroll" href="mapa">Mapa</a>
                            </li>
                            <li class="nav-item">
                                <button (click)="logout()" type="button" class="btn btn-success nav-link">
                                    logout
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- Navbar End -->
            <div class="container">
                <div class="row justify-content-md-center">
                    <div class="col-md-10">
                        <div class="contents text-center">
                            <h2 class="wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="0.3s">ECOLOGÍA, SUSTENTABILIDAD E INNOVACIÓN A.C</h2>
                            <p class="lead  wow fadeIn" data-wow-duration="1000ms" data-wow-delay="400ms">
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    </div>

    <!-- Experto -->
    <div *ngIf="id == 2">
        <header id="hero-area1" data-stellar-background-ratio="0.5">
            <!-- Navbar Start -->
            <!-- fixed-top -->
            <nav class="navbar navbar-expand-lg navbar-light scrolling-navbar">
                <img class="img-fulid" style="width: 330px; height: 160px;" src="../../../assets/img/cromas/ESI.png"alt="">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav collapse navbar-collapse">
                        <ul class="navbar-nav">

                            <li class="nav-item">
                                <a class="nav-link page-scroll" href="analisis">Análisis</a>
                            </li>
            
                            <li class="nav-item">
                                <a class="nav-link page-scroll" href="lista-lotes">lista de Lotes</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link page-scroll" href="mapa">Mapa</a>
                            </li>
                            <li class="nav-item">
                                <button (click)="logout()" type="button" class="btn btn-success nav-link">
                                    logout
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- Navbar End -->
            <div class="container">
                <div class="row justify-content-md-center">
                    <div class="col-md-10">
                        <div class="contents text-center">
                            <h2 class="wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="0.3s">ECOLOGÍA, SUSTENTABILIDAD E INNOVACIÓN A.C</h2>
                            <p class="lead  wow fadeIn" data-wow-duration="1000ms" data-wow-delay="400ms">
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    </div>

    <!-- Usuario Lider -->
    <div *ngIf="id == 3">
        <header id="hero-area1" data-stellar-background-ratio="0.5">
            <!-- Navbar Start -->
            <!-- fixed-top -->
            <nav class="navbar navbar-expand-lg navbar-light scrolling-navbar">
                <img class="img-fulid" style="width: 330px; height: 160px;" src="../../../assets/img/cromas/ESI.png"alt="">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav collapse navbar-collapse">
                        <ul class="navbar-nav">

                            <li class="nav-item">
                                <a class="nav-link page-scroll" href="user&lider">Seguidores</a>
                            </li>
            
                            <li class="nav-item">
                                <a class="nav-link page-scroll" href="analisis">Análisis</a>
                            </li>
            
                            <li class="nav-item">
                                <a class="nav-link page-scroll" href="lista-lotes">lista de Lotes</a>
                            </li>
            
                            <li class="nav-item">
                                <a class="nav-link page-scroll" href="mapa">Mapa</a>
                            </li>
            
                            <li class="nav-item">
                                <button (click)="logout()" type="button" class="btn btn-success nav-link">
                                    logout
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- Navbar End -->
            <div class="container">
                <div class="row justify-content-md-center">
                    <div class="col-md-10">
                        <div class="contents text-center">
                            <h2 class="wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="0.3s">ECOLOGÍA, SUSTENTABILIDAD E INNOVACIÓN A.C</h2>
                            <p class="lead  wow fadeIn" data-wow-duration="1000ms" data-wow-delay="400ms">
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    </div>

    <!-- Usuario Final -->
    <div *ngIf="id == 4">
        <header id="hero-area1" data-stellar-background-ratio="0.5">
            <!-- Navbar Start -->
            <!-- fixed-top -->
            <nav class="navbar navbar-expand-lg navbar-light scrolling-navbar">
                <img class="img-fulid" style="width: 330px; height: 160px;" src="../../../assets/img/cromas/ESI.png"alt="">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav collapse navbar-collapse">
                        <ul class="navbar-nav">

                            <li class="nav-item">
                                <a class="nav-link page-scroll" href="user&lider">Unirse a líder</a>
                            </li>
                            
                            <li class="nav-item">
                                <a class="nav-link page-scroll" href="analisis">Análisis</a>
                            </li>
            
                            <li class="nav-item">
                                <a class="nav-link page-scroll" href="lista-lotes">lista de Lotes</a>
                            </li>
            
                            <li class="nav-item">
                                <a class="nav-link page-scroll" href="mapa">Mapa</a>
                            </li>
            
                            <li class="nav-item">
                                <button (click)="logout()" type="button" class="btn btn-success nav-link">
                                    logout
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- Navbar End -->
            <div class="container">
                <div class="row justify-content-md-center">
                    <div class="col-md-10">
                        <div class="contents text-center">
                            <h2 class="wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="0.3s">ECOLOGÍA, SUSTENTABILIDAD E INNOVACIÓN A.C</h2>
                            <p class="lead  wow fadeIn" data-wow-duration="1000ms" data-wow-delay="400ms">
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    </div>

</body>

<!-- Header Section End -->