<app-navbar></app-navbar>
<br><br><br>
<div class="conteiner">
    <div class="card">
        <div class="card body">
            <div class="container">
                <form autocomplete="off" class="login100-form validate-form" [formGroup]="registro">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputEmail4">Nombre del lote:</label>
                            <input formControlName="nombre" type="text" class="form-control" class="form-control"
                                id="inputEmail4" placeholder="nombre">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputState">Uso del suelo</label>
                            <select formControlName="uso_suelo" id="inputState" class="form-control">
                                <option>Agricultura</option>
                                <option>Ganadería</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="inputEmail4">Latitud:</label>
                            <input type="text" value="{{latitude}}" disabled>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputEmail4">Longitud:</label>
                            <input type="text" value="{{longitude}}" disabled>
                        </div>
                    </div>
                    <button (click)="registerLote(registro.value)" type="submit" class="btn btn-primary">Registrar Lote</button>
                </form><br>
                <button  class="btn btn-outline-primary" (click) ="this.viewType= 'terrain'" style="margin: 10px">Terreno</button>
                <button  class="btn btn-outline-danger" (click) ="this.viewType= 'satellite'" style="margin: 10px" >Satélite</button>
                <button  class="btn btn-outline-success" (click) ="this.viewType= 'roadmap'"  style="margin: 10px">Mapa vial</button>
                <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom" [mapTypeId]="this.viewType" >
                    <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true"
                        (dragEnd)="markerDragEnd($event)"></agm-marker>
                </agm-map>
            </div>
        </div>
    </div>
</div>
<br><br><br>
<style>
    #agm-map {
        height: 300px;
        /* height is required */
    }
</style>

<br><br><br>

<app-footer></app-footer>