<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login V18</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="../../../assets/login/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../../../assets/login/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"
        href="../../../assets/login/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--=============================================../../../assets/login/==================================================-->
    <link rel="stylesheet" type="text/css" href="../../../assets/login/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <!--=============================================../../../assets/login/==================================================-->
    <link rel="stylesheet" type="text/css" href="../../../assets/login/vendor/animate/animate.css">
    <!--=============================================../../../assets/login/==================================================-->
    <link rel="stylesheet" type="text/css" href="../../../assets/login/vendor/css-hamburgers/hamburgers.min.css">
    <!--=============================================../../../assets/login/==================================================-->
    <link rel="stylesheet" type="text/css" href="../../../assets/login/vendor/animsition/css/animsition.min.css">
    <!--=============================================../../../assets/login/==================================================-->
    <link rel="stylesheet" type="text/css" href="../../../assets/login/vendor/select2/select2.min.css">
    <!--=============================================../../../assets/login/==================================================-->
    <link rel="stylesheet" type="text/css" href="../../../assets/login/vendor/daterangepicker/daterangepicker.css">
    <!--=============================================../../../assets/login/==================================================-->
    <link rel="stylesheet" type="text/css" href="../../../assets/login/css/util.css">
    <link rel="stylesheet" type="text/css" href="../../../assets/login/css/main.css">
    <!--===============================================================================================-->
</head>
<div class="container">
<body style="background-color: #666666;">
        <div class="limiter">
            <div class="container-login100">
                <div class="wrap-login100">
                    <form  autocomplete="off" [formGroup]="login" class="login100-form validate-form">
                        <span class="login100-form-title p-b-43">
                            Iniciar Sesión
                        </span>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Correo</label>
                            <input formControlName="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                        </div>

                        <div class="form-group">
                            <label for="exampleInputPassword1">Contraseña</label>
                            <input formControlName="password" type="password" class="form-control" id="exampleInputPassword1">
                            <small id="emailHelp" class="form-text text-muted">Nunca compartas tu contraseña con nadie más!.</small>
                        </div>
                        <div class="container-login100-form-btn">
                            <button class="login100-form-btn" (click)="Login(login.value)">
                                Iniciar Sesión
                            </button>
                        </div>
                        <br>
                        <div class="container-login100-form-btn">
                            <a href="" class="login1000-form-btn">
                                <button type="button" class="login1000-form-btn">
                                    Cancelar
                                </button>
                            </a>
                        </div>
    
                        <div class="text-center p-t-46 p-b-20">
                            <span class="txt2">
                                <a routerLink="../register">No tienes cuenta? Regístrate!</a>
                            </span>
                        </div>

                        <div class="text-center p-t-10 p-b-15">
                            <span class="txt1">
                                <a routerLink="../fpassword/0000">¿Olvidaste tu contraseña?...</a>
                            </span>
                        </div>
                    </form>
    
                    <div class="login100-more" style="background-image: url('../../../assets/img/cromas/1.jpg');">
                    </div>
                </div>
            </div>
        </div>
    
    
    
    
        <!--===============================================================================================-->
        <script src="../../../assets/login/vendor/jquery/jquery-3.2.1.min.js"></script>
        <!--=============../../../assets/login/==================================================================================-->
        <script src="../../../assets/login/vendor/animsition/js/animsition.min.js"></script>
        <!--=============../../../assets/login/==================================================================================-->
        <script src="../../../assets/login/vendor/bootstrap/js/popper.js"></script>
        <script src="../../../assets/login/vendor/bootstrap/js/bootstrap.min.js"></script>
        <!--=============../../../assets/login/==================================================================================-->
        <script src="../../../assets/login/vendor/select2/select2.min.js"></script>
        <!--=============../../../assets/login/==================================================================================-->
        <script src="../../../assets/login/vendor/daterangepicker/moment.min.js"></script>
        <script src="../../../assets/login/vendor/daterangepicker/daterangepicker.js"></script>
        <!--=============../../../assets/login/==================================================================================-->
        <script src="../../../assets/login/vendor/countdowntime/countdowntime.js"></script>
        <!--=============../../../assets/login/==================================================================================-->
        <script src="../../../assets/login/js/main.js"></script>
    
    </body>
</div>

</html>