<app-navbar></app-navbar>
<br><br><br>
<div class="conteiner">
    <div class="card">
        <div class="card body">
            <div class="container">
                <button  class="btn btn-outline-primary" (click) ="this.viewType= 'terrain'" style="margin: 10px">Terreno</button>
                <button  class="btn btn-outline-danger" (click) ="this.viewType= 'satellite'" style="margin: 10px" >Satélite</button>
                <button  class="btn btn-outline-success" (click) ="this.viewType= 'roadmap'"  style="margin: 10px">Mapa vial</button>
                <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" id="agm-map" [mapTypeId]="this.viewType">
                    <agm-marker *ngFor="let marker of muestra" [latitude]="marker.latitud" [longitude]="marker.longitud" (markerClick)="selectMarker($event, marker.muestra)" >
                    </agm-marker>
                </agm-map>
            </div>
        </div>
    </div>
</div>
<br><br><br>
<style>
    #agm-map {
        height: 600px;
        /* height is required */
    }
</style>
