<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="Bootstrap, Parallax, Template, Registration, Landing">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="author" content="Grayrids">
    <title>Analisis del suelo</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../../../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../../assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../../assets/css/line-icons.css">
    <link rel="stylesheet" href="../../../assets/css/owl.carousel.css">
    <link rel="stylesheet" href="../../../assets/css/owl.theme.css">
    <link rel="stylesheet" href="../../../assets/css/nivo-lightbox.css">
    <link rel="stylesheet" href="../../../assets/css/magnific-popup.css">
    <link rel="stylesheet" href="../../../assets/css/slicknav.css">
    <link rel="stylesheet" href="../../../assets/css/animate.css">
    <link rel="stylesheet" href="../../../assets/css/main.css">
    <link rel="stylesheet" href="../../../assets/css/responsive.css">
</head>

<body>
    <app-navbar></app-navbar>
    
    <section id="portfolios" class="section">
        <!-- Usuario Lider -->
        <div *ngIf="rol == '3'">
            <h1>Lista de Seguidores</h1>
            <br>
            <div class="row">
                <label for="nombre" class="col-form-label col-sm-3">Buscar seguidores por correo...</label>
                <div class="form-group form-control-lg bg-dark col-sm-6">
                    <input type="text" class="form-control border border-dark" name="filterPost" 
                placeholder="Buscar correo....." [(ngModel)]="filterPost">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Nombre</th>
                                    <th>Apellido paterno</th>
                                    <th>Apellido materno</th>
                                    <th>Correo</th>
                                    <th>País</th>
                                    <th>Estado</th>
                                    <th>Municipio</th>
                                    <th>Eliminar</th>
                                </tr>
                            </thead>
                            <tbody *ngIf="seguidores > 0">
                                <tr *ngFor="let lider of Lideres | filter:filterPost; index as i">
                                    <td> {{i+1}} </td>
                                    <td> {{ lider.nombre }} </td>
                                    <td> {{ lider.ape_p }} </td>
                                    <td> {{ lider.ape_m }} </td>
                                    <td> {{ lider.email }} </td>
                                    <td> {{lider.municipioEsPa.estadoPa.pais['nombre']}}</td>
                                    <td> {{lider.municipioEsPa.estadoPa['nombre']}}</td>
                                    <td> {{lider.municipioEsPa['nombre']}}</td>
                                    <td>
                                        <button type="button" class="btn btn-danger" style="border-radius: 30px;" (click)="Eliminar(lider.id, dejarseguir.value)">Eliminar Seguidor</button>
                                    </td>
                                </tr>
                            </tbody>
                            <tbody *ngIf="seguidores == 0">
                                <tr>
                                    <th colspan="9"> No Hay Seguidores</th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- Usuario Normal -->
        <div *ngIf="rol == 4">
            <h1>Lista de líderes</h1>
            <br>
            <div class="row">
                <label for="nombre" class="col-form-label col-sm-3">Buscar Líder por correo...</label>
                <div class="form-group form-control-lg bg-dark col-sm-6">
                    <input type="text" class="form-control border border-dark" name="filterPost" 
                placeholder="Buscar correo....." [(ngModel)]="filterPost">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col">
                    <div class="table-responsive">
                        <br>
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Nombre</th>
                                    <th>Apellido paterno</th>
                                    <th>Apellido materno</th>
                                    <th>Correo</th>
                                    <th>País</th>
                                    <th>Estado</th>
                                    <th>Municipio</th>
                                    <th>Unirse</th>
                                </tr>
                            </thead>
                            <tbody *ngFor="let lider of Lideres | filter:filterPost; index as i">
                                <tr>
                                    <td> {{i+1}} </td>
                                    <td> {{ lider.nombre }} </td>
                                    <td> {{ lider.ape_p }} </td>
                                    <td> {{ lider.ape_m }} </td>
                                    <td> {{ lider.email }} </td>
                                    <td> {{lider.municipioEsPa.estadoPa.pais['nombre']}}</td>
                                    <td> {{lider.municipioEsPa.estadoPa['nombre']}}</td>
                                    <td> {{lider.municipioEsPa['nombre']}}</td>
                                    <td *ngIf="siguiendo == lider.id">
                                        <button type="button" class="btn btn-danger" style="border-radius: 30px;" (click)="DejardeSeguir(lider.id, seguir.value)">Dejar de Seguir</button>
                                    </td>
                                    <td *ngIf="siguiendo != lider.id">
                                        <button type="button" class="btn btn-info" style="border-radius: 30px;" (click)="Seguir(lider.id, dejarseguir.value)">Seguir</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <br><br><br>
    </section>

    <br><br><br>
    <app-footer></app-footer>
</body>