<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="Bootstrap, Parallax, Template, Registration, Landing">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="author" content="Grayrids">
    <title>Analisis del suelo</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../../../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../../assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../../assets/css/line-icons.css">
    <link rel="stylesheet" href="../../../assets/css/owl.carousel.css">
    <link rel="stylesheet" href="../../../assets/css/owl.theme.css">
    <link rel="stylesheet" href="../../../assets/css/nivo-lightbox.css">
    <link rel="stylesheet" href="../../../assets/css/magnific-popup.css">
    <link rel="stylesheet" href="../../../assets/css/slicknav.css">
    <link rel="stylesheet" href="../../../assets/css/animate.css">
    <link rel="stylesheet" href="../../../assets/css/main.css">
    <link rel="stylesheet" href="../../../assets/css/responsive.css">
</head>

<body>
    <app-navbar></app-navbar>
    <!-- Portfolio Section -->
    <section id="portfolios" class="section">
        <!-- Container Starts -->
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!-- Portfolio Controller/Buttons -->
                    <form role="form">
                        <div class="well">
                            <div class="row">
                                <div class="form-group row">
                                    <label for="nombre" class="col-form-label col-sm-4">Número de lotes: </label>
                                    <div class="col-sm-4">
                                        <input type="text" name="nombre" id="nombre" class="form-control"
                                            placeholder="{{Tamano}}" tabindex="1" disabled>
                                    </div>
                                </div>
                                <div class="col-xs-10 col-sm-10 col-md-10">
                                    <div class="form-group row">

                                        <div class="col-sm-5">
                                            <button type="button" class="btn btn-success"
                                                routerLink="../registro-lote" style="border-radius: 30px;">Agregar lote</button>
                                        </div>
                                        <div class="col-sm-5">
                                            <button type="button" class="btn btn-info" *ngIf="rol == 1 || rol == 2"
                                                routerLink="../all-cromann" style="border-radius: 30px;">Todas las Muestras</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <br>
                    <h1>Lista de lotes registrados</h1>
                    <br>

                    <div class="row">
                        <label for="nombre" class="col-form-label col-sm-3">Buscar Lote por nombre o uso</label>
                        <div class="form-group form-control-lg bg-dark col-sm-6">
                            <input type="text" class="form-control border border-dark" name="filterLotePost" 
                        placeholder="Buscar Lote....." [(ngModel)]="filterLotePost">
                        </div>
                    </div>

                    <br>
                    <div class="row">
                        <div class="col">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Nombre del lote</th>
                                            <th>Uso del suelo </th>
                                            <th>Visualizar ubicación</th>
                                            <th>Muestra de cromas</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let lote of lotes | filterLotes:filterLotePost; index as i">
                                            <td>{{ i+1 }} </td>
                                            <td>{{ lote.nombre }} </td>
                                            <td>{{ lote.uso_suelo}}</td>
                                            <td>
                                                <!-- <button class="btn btn-success">IR</button> -->
                                                <!-- Button trigger modal -->
                                                <button type="button" class="btn btn-success" data-toggle="modal"
                                                    data-target="#exampleModalCenter" (click) = "verMapa(lote.id)" style="border-radius: 30px;">
                                                    IR
                                                </button>
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-primary" style="border-radius: 30px;" (click)="muestrasC(lote.id)">
                                                        Ver muestras
                                                </button>
                                            </td>
                                            <td>
                                                <form [formGroup]="desactivar">
                                                    <div>
                                                        <button type="button" class="btn btn-danger" (click)="eliminarLote(lote.id, desactivar.value)" style="border-radius: 30px;">
                                                            Eliminar
                                                        </button>
                                                    </div>
                                                </form>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <h2 style="text-align: center;" *ngIf="Tamano == 0">No hay lotes registrados aún!</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 style="font-size: medium;" class="modal-title" id="exampleModalCenterTitle">Ubicación</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <button  class="btn btn-primary" (click) ="this.viewType= 'terrain'" style="margin: 10px">Terreno</button>
                <button  class="btn btn-danger" (click) ="this.viewType= 'satellite'" style="margin: 10px" >Satélite</button>
                <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [mapTypeId]="this.viewType">
                    <agm-marker [latitude]="lat" [longitude]="lng" [markerDraggable]="true"></agm-marker>
                </agm-map>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
            <!-- <button type="button" class="btn btn-primary"></button> -->
            </div>
        </div>
        </div>
    </div>
    <!-- Portfolio Section Ends -->
    <!-- Footer Section Start -->
    
    <app-footer></app-footer>

    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="../../../assets/js/jquery-min.js"></script>
    <script src="../../../assets/js/popper.min.js"></script>
    <script src="../../../assets/js/bootstrap.min.js"></script>
    <script src="../../../assets/js/jquery.mixitup.js"></script>
    <script src="../../../assets/js/nivo-lightbox.js"></script>
    <script src="../../../assets/js/owl.carousel.js"></script>
    <script src="../../../assets/js/jquery.stellar.min.js"></script>
    <script src="../../../assets/js/jquery.nav.js"></script>
    <script src="../../../assets/js/scrolling-nav.js"></script>
    <script src="../../../assets/js/jquery.easing.min.js"></script>
    <script src="../../../assets/js/smoothscroll.js"></script>
    <script src="../../../assets/js/jquery.slicknav.js"></script>
    <script src="../../../assets/js/wow.js"></script>
    <script src="../../../assets/js/jquery.vide.js"></script>
    <script src="../../../assets/js/jquery.counterup.min.js"></script>
    <script src="../../../assets/js/jquery.magnific-popup.min.js"></script>
    <script src="../../../assets/js/waypoints.min.js"></script>
    <script src="../../../assets/js/form-validator.min.js"></script>
    <script src="../../../assets/js/contact-form-script.js"></script>
    <script src="../../../assets/js/main.js"></script>

</body>


</html>