<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="Bootstrap, Parallax, Template, Registration, Landing">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="author" content="Grayrids">
    <title>Análisis del suelo</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../../../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../../assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../../assets/css/line-icons.css">
    <link rel="stylesheet" href="../../../assets/css/owl.carousel.css">
    <link rel="stylesheet" href="../../../assets/css/owl.theme.css">
    <link rel="stylesheet" href="../../../assets/css/nivo-lightbox.css">
    <link rel="stylesheet" href="../../../assets/css/magnific-popup.css">
    <link rel="stylesheet" href="../../../assets/css/slicknav.css">
    <link rel="stylesheet" href="../../../assets/css/animate.css">
    <link rel="stylesheet" href="../../../assets/css/main.css">
    <link rel="stylesheet" href="../../../assets/css/responsive.css">

</head>

<body>
    <app-navbar></app-navbar>
    <!-- Portfolio Section -->
    <section id="portfolios" class="section">
        <!-- Container Starts -->
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!-- Portfolio Controller/Buttons -->
                    <div class="container">
                        <div class="row mb-4" >
                            <!-- Subir img -->
                            <div class="col-md-4">
                                <div class="card" style="width: auto;">
                                    <div class="card-body">
                                        <h3 style="font-size: 23px; opacity: 0.7;"><span class="badge badge-pill badge-info">Ingrese los datos <br>donde se tomó la muestra.</span></h3>
                                        <img  [src]="imgURL" height="200" width="250" style="border-color: black; border-radius: 10px; opacity: 0.8;" *ngIf="imgURL">
                                        <input #file type="file" accept='image/*' (change)="preview(file.files)"/>
                                        <br>
                                        <span style="color:green" *ngIf="message">{{message}}</span>
                                        <br>
                                        <br>
                                        <!-- Datos de la imagen  -->
                                        <form [formGroup]="cromann">
                                            <div class="row">
                                                <div class="col">
                                                    <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Lote: </label>
                                                </div>
                                                <div class="col">
                                                    <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref" formControlName="lote_id">
                                                        <option  *ngFor="let lote of lotes; index as i" value="{{lote.id}}" (click)="verMapa(lote.id)" data-toggle="modal" data-target="#exampleModalCenter" >{{lote.nombre}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                                <!-- Modal para la nueva ubicación-->
                                                <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                        <h5 style="font-size: medium;" class="modal-title" id="exampleModalCenterTitle">Ubicación</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <button  class="btn btn-primary" (click) ="this.viewType= 'terrain'" style="margin: 10px">Terreno</button>
                                                            <button  class="btn btn-danger" (click) ="this.viewType= 'satellite'" style="margin: 10px" >Satelite</button>
                                                            <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [mapTypeId]="this.viewType">
                                                                <agm-marker [latitude]="lat" [longitude]="lng" [markerDraggable]="true"(dragEnd)="markerDragEnd($event)"></agm-marker>
                                                            </agm-map>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                                                            <button type="button" class="btn btn-primary" (click) = "guardar()" data-dismiss="modal"> Guardar</button>
                                                        </div>
                                                    </div>
                                                    </div>
                                                </div>
                                            <!-- Modal -->
                                            <br>
                                            <div class="row">
                                                <div class="col">
                                                    <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Profundidad: </label>
                                                </div>
                                                <div class="col">
                                                    <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref" formControlName="profundidad">
                                                        <!-- <option selected>Choose...</option> -->
                                                        <option value="25">15 cm </option>
                                                        <option value="25">25 cm </option>
                                                        <option value="50">50 cm</option>
                                                        <option value="100">100 cm</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <!-- <button type="button" class="btn btn-outline-success btn-lg">Guardar Información</button> -->
                                            <button (click)="saveInformation(cromann.value)" type="button" class="btn btn-success"
                                                data-toggle="modal" data-target="#exampleModalC" style="border-radius: 10px;">
                                                    {{ResetSave}}
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <!-- Comienza parte derecha de la pantala -->
                            <div class="col-md-8">
                                <div class="card" style="width: auto;">
                                    <div class="card-body">
                                        <div class="col p-4 d-flex flex-column position-static">
                                            <div class="one_third lastcolumn">
                                                <!-- Informacion de localizacion del lote -->
                                                <h3 style="font-size: 28px;">Localización</h3>
                                                <!-- Info User -->
                                                <div class="form-row">
                                                    <div class="col-4">
                                                        <input type="text" class="form-control" placeholder={{Pais}} disabled>
                                                    </div>
                                                    <div class="col">
                                                        <input type="text" class="form-control" placeholder={{Estado}} disabled>
                                                    </div>
                                                    <div class="col">
                                                        <input type="text" class="form-control" placeholder={{Municipio}} disabled>
                                                    </div>
                                                </div>
                                                <br>
                                                <!-- Presencia (resultado de la IA) -->
                                                <h3 style="font-size: 28px;">Presencia</h3>
                                                <div class="col-md-14">
                                                    <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                                                        <div class="col p-4 d-flex flex-column position-static">
                                                            <div>  
                                                                <div class="row">
                                                                    <div class="col">
                                                                        <label>Oxígeno</label>
                                                                        
                                                                        <div *ngIf = "data_set.ind_oxg == true">
                                                                            <button type="button" class="btn btn-success" style="border-radius: 10px;" disabled ></button>
                                                                        </div>
                            
                                                                        <div *ngIf = "data_set.ind_oxg == false">
                                                                            <button type="button" class="btn btn-dark" style="border-radius: 10px;" disabled ></button>
                                                                        </div>
                                                                        
                                                                    </div>
                                                                    <div class="col">
                                                                        <label>Humus</label>
                                                                        <div *ngIf = "data_set.ind_mat_org == true">
                                                                            <button type="button" class="btn btn-success" style="border-radius: 10px;" disabled ></button>
                                                                        </div>
                            
                                                                        <div *ngIf = "data_set.ind_mat_org == false">
                                                                            <button type="button" class="btn btn-dark" style="border-radius: 10px;" disabled ></button>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col">
                                                                    </div>
                                                                </div><br>
                                                                <!-- Parte 2 -->
                                                                <div class="row">
                                                                    <div class="col">
                                                                        <label>Nitrógeno</label>
                                                                        <div *ngIf = "data_set.ind_n_elem == true">
                                                                            <button type="button" class="btn btn-success" style="border-radius: 10px;" disabled ></button>
                                                                        </div>
                            
                                                                        <div *ngIf = "data_set.ind_n_elem == false">
                                                                            <button type="button" class="btn btn-dark" style="border-radius: 10px;" disabled ></button>
                                                                        </div>                                                                       
                                                                
                                                                    </div>
                                                                    <div class="col">
                                                                        <label>Rompimiento</label>
                                                                        <div *ngIf = "data_set.ind_romp == true">
                                                                            <button type="button" class="btn btn-success" style="border-radius: 10px;" disabled ></button>
                                                                        </div>
                            
                                                                        <div *ngIf = "data_set.ind_romp == false">
                                                                            <button type="button" class="btn btn-dark" style="border-radius: 10px;" disabled ></button>
                                                                        </div>
                                                                    
                                                                    </div>
                                                                    <div class="col">
                                                                        <label>Materia Viva</label>
                                                                        <div *ngIf = "data_set.ind_mat_viva == true">
                                                                            <button type="button" class="btn btn-success" style="border-radius: 10px;" disabled ></button>
                                                                        </div>
                            
                                                                        <div *ngIf = "data_set.ind_mat_viva == false">
                                                                            <button type="button" class="btn btn-dark" style="border-radius: 10px;" disabled ></button>
                                                                        </div>
                                                                    </div>
                                                                    
                                                                </div><br>
                                                                <!-- Parte 3 -->
                                                                <div class="row">
                                                                    <div class="col">
                                                                        <label>Proteínas</label><br>
                                                                        <div *ngIf = "data_set.ind_pro_n == true">
                                                                            <button type="button" class="btn btn-success" style="border-radius: 10px;" disabled ></button>
                                                                        </div>
                            
                                                                        <div *ngIf = "data_set.ind_pro_n == false">
                                                                            <button type="button" class="btn btn-dark" style="border-radius: 10px;" disabled ></button>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col">
                                                                        <label>Transformación en las sustancias</label><br>
                                                                        <div *ngIf = "data_set.ind_trans_sist == true">
                                                                            <button type="button" class="btn btn-success" style="border-radius: 10px;" disabled ></button>
                                                                        </div>
                            
                                                                        <div *ngIf = "data_set.ind_trans_sist == false">
                                                                            <button type="button" class="btn btn-dark" style="border-radius: 10px;" disabled ></button>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col">
                                                                        <label>Actividad Biológica</label>
                                                                        <div *ngIf = "data_set.ind_bio == true">
                                                                            <button type="button" class="btn btn-success" style="border-radius: 10px;" disabled ></button>
                                                                        </div>
                        
                                                                        <div *ngIf = "data_set.ind_bio == false">
                                                                            <button type="button" class="btn btn-dark" style="border-radius: 10px;" disabled ></button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Recomendacion -->
                                <!-- <div class="col-md-13">
                                    <div class="card" style="width: auto;">
                                        <div class="card-body">
                                            <div class="one_third lastcolumn">
                                                <h3 style="font-size: 28px;">Recomendaciones</h3>
                                                <div class="col-md-14">
                                                    <div
                                                        class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                                                        <div class="col p-4 d-flex flex-column position-static"
                                                            style="background-color: transparent;">
                                                            <form>
                                                                <div class="form-row">
                                                                    <div class="col-6">
                                                                        <img src="assets/image/you.png" class="reco"
                                                                        style="background-color:lightgray" title="YOU TUBE">
                                                                        {{recomendacion1}} <br>
                                                                        {{recomendacion2}}
                                                                    </div>
                                                                    <div class="col-6">
                                                                        <img src="assets/image/images.png" class="reco"
                                                                        style="background-color:lightgray" title="PDF">
                                                                    </div>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                </div>
                <!-- Modal -->
                <div class="modal fade" id="exampleModalC" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header" *ngIf="message2">
                                <h5 style="text-align: justify; font-size: 19px;" class="modal-title" id="exampleModalCenterTitle">{{message2}}</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body" *ngIf="!valid">
                                <h3 *ngIf="message">{{message}}</h3>
            
                            </div>
                            <div class="modal-body" *ngIf="valid">
                                    <div class="container1" *ngIf="showAnimated">
                                        <div class="dot dot-1"></div>
                                        <div class="dot dot-2"></div>
                                        <div class="dot dot-3"></div>
                                    </div>
                
                                    <h3 *ngIf="message">{{message}}</h3>
                
                                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
                                        <defs>
                                            <filter id="goo">
                                                <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur" />
                                                <feColorMatrix in="blur" mode="matrix"
                                                    values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 21 -7" />
                                            </filter>
                                        </defs>
                                    </svg>
                                </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Portfolio Controller/Buttons Ends-->
                </div>
            </div>
        </div>
        <!-- Container Ends -->
    </section>

    <app-footer></app-footer>

    <!-- <div id="loader">
      <div class="spinner">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
      </div>
    </div>      -->

    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="../../../assets/js/jquery-min.js"></script>
    <script src="../../../assets/js/popper.min.js"></script>
    <script src="../../../assets/js/bootstrap.min.js"></script>
    <script src="../../../assets/js/jquery.mixitup.js"></script>
    <script src="../../../assets/js/nivo-lightbox.js"></script>
    <script src="../../../assets/js/owl.carousel.js"></script>
    <script src="../../../assets/js/jquery.stellar.min.js"></script>
    <script src="../../../assets/js/jquery.nav.js"></script>
    <script src="../../../assets/js/scrolling-nav.js"></script>
    <script src="../../../assets/js/jquery.easing.min.js"></script>
    <script src="../../../assets/js/smoothscroll.js"></script>
    <script src="../../../assets/js/jquery.slicknav.js"></script>
    <script src="../../../assets/js/wow.js"></script>
    <script src="../../../assets/js/jquery.vide.js"></script>
    <script src="../../../assets/js/jquery.counterup.min.js"></script>
    <script src="../../../assets/js/jquery.magnific-popup.min.js"></script>
    <script src="../../../assets/js/waypoints.min.js"></script>
    <script src="../../../assets/js/form-validator.min.js"></script>
    <script src="../../../assets/js/contact-form-script.js"></script>
    <script src="../../../assets/js/main.js"></script>

</body>


</html>